{# Copyright 2021 Confluent
Contributors:
   Venky Narayanan vnarayanan@confluent.io

 All rights reserved -#}
{# Template for julieops cluster config file -#}
{# Based on blah blah from blah -#}
# Automatically created on {{ timestamp }}

security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ admin.api_key }}" password="{{ admin.api_key }}";
schema.registry.basic.auth.credentials.source=USER_INFO
schema.registry.basic.auth.user.info={{ schema_registry.api_key }}:{{ schema_registry.api_secret }}
schema.registry.url={{ schema_registry.url }}
