{# Copyright 2021 Confluent
Contributors:
   Venky Narayanan vnarayanan@confluent.io

 All rights reserved -#}
{# Template for julieops descriptor file -#}
{# Based on blah blah from blah -#}
# Automatically created on {{ timestamp }}

# context: {{ context }}
# company: {{ company }}
env: {{ env }}
# source: {{ source }}
projects:
  {% for item in projects -%}
  - name: {{ item.name }}
    topics:
      {% for topic in item.topics -%}
      - name: {{ topic.name }}
        config:
          replication.factor: {{ topic.replication }}
          num.partitions: {{ topic.partitions }}
      {% endfor %}
  {% endfor %}
